GROQ_TEST_API=
GOOGLE_DRIVE_FOLDER_ID=
LLM_MODEL=
EMBEDDING_MODEL=

# google service account vairables
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=

PERSIST_DIR=
COLLECTION_NAME=
TOP_K=

USE_CONVERSATION_HISTORY=
MAX_HISTORY_TURNS=

# Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_ALGORITHM=
JWT_SECRET_KEY=
REFRESH_TOKEN_EXPIRE_DAYS=